<ion-header class="no-border">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="./view/home" text=""></ion-back-button>
    </ion-buttons> 
    <ion-title>CADASTRO MÚSICA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">

  <form [formGroup]="formCadastrar" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-input label="Nome" placeholder="Nome" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Banda" placeholder="Banda/Cantor" formControlName="banda"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input label="Ano de Lançamento" placeholder="Ano de Lançamento" type="number" formControlName="anoLancamento"></ion-input>
    </ion-item>
    
    <ion-item>
      <!--<ion-datetime presentation="month-year"></ion-datetime>-->
      <ion-input label="Álbum" placeholder="Álbum" formControlName="album"></ion-input>
    </ion-item>
    
      <ion-item>
        <ion-select aria-label="Genero" interface="popover" placeholder="Gênero" formControlName="genero">
          <ion-select-option value="Sertanejo">Sertanejo</ion-select-option>
          <ion-select-option value="Pop-Rock">Pop-Rock</ion-select-option>
          <ion-select-option value="Hip-hop">Hip-hop</ion-select-option>
          <ion-select-option value="Pagode">Pagode</ion-select-option>
          <ion-select-option value="Funk">Funk</ion-select-option>
          <ion-select-option value="Dance/eletrônica">Dance/eletrônica</ion-select-option>
          <ion-select-option value="Rock">Rock</ion-select-option>
          <ion-select-option value="Jazz">Jazz</ion-select-option>
          <ion-select-option value="Blues">Blues</ion-select-option>
          <ion-select-option value="Country">Country</ion-select-option>
          <ion-select-option value="Pop">Pop</ion-select-option>
          <ion-select-option value="Clássica">Clássica</ion-select-option>
          <ion-select-option value="Reggae">Reggae</ion-select-option>
          <ion-select-option value="Bossa Nova">Bossa Nova</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-button size="default" color="#ffffff;" shape="round" class="custom-file-button">
        <input type="file" (change)="uploadFile($event.target)" class="custom-file-input"/>
        Escolher Imagem
      </ion-button>

      <ion-button size="default" color="#ffffff;" shape="round" class="custom-file-button">
        <input type="file" (change)="uploadSound($event.target)" class="custom-file-input"/>
          Escolher Áudio
      </ion-button>

      <span class="error-message-primeiro" *ngIf="formCadastrar.get('nome')?.touched && formCadastrar.get('nome')?.errors?.['required']">Nome é Obrigatório</span> 
      <span class="error-message" *ngIf="formCadastrar.get('banda')?.touched && formCadastrar.get('banda')?.errors?.['required']">Banda é Obrigatória</span> 
      <span class="error-message" *ngIf="(formCadastrar.get('anoLancamento')?.touched && 
        (formCadastrar.get('anoLancamento')?.errors?.['required'] || 
        formCadastrar.get('anoLancamento')?.errors?.['max'] ||
        formCadastrar.get('anoLancamento')?.errors?.['min']))">

        {{ formCadastrar.get('anoLancamento')?.errors?.['required'] ? 'Ano de Lançamento é Obrigatório' :
          formCadastrar.get('anoLancamento')?.errors?.['max'] ? 'Ano de Lançamento precisa ser até o ano 2024' :
          formCadastrar.get('anoLancamento')?.errors?.['min'] ? 'Ano de Lançamento precisa ser superior a 1499' : ''
        }}

      </span>
      <span class="error-message" *ngIf="formCadastrar.get('album')?.touched && formCadastrar.get('album')?.errors?.['required']">Álbum é Obrigatório</span> 
      <span class="error-message" *ngIf="formCadastrar.get('genero')?.touched && formCadastrar.get('genero')?.errors?.['required']">Gênero é Obrigatório</span> 

    <ion-button expand="block" (click)="cadastrar()" style="margin-top: 15px;">Cadastrar</ion-button>
  </form>
</ion-content>